#heading-span {
    width: 100%;
    text-align: right;
}

.contact-heading {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.contact-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(var(--SWAN-vlight), 0.4);
    padding: 15px;
    font-size: 1.5em;
}

.contact-span i {
    display: flex;
    justify-content: center;
    width: 20px;
    text-align: center;
    font-size: inherit;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-span p {
    display: inline-block;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2;
    font-size: inherit;
}

#contact-info {
    margin-right: 10px;
}

#contact-items {
    display: flex;
    flex-direction: column;
}

#address-block {
    display: flex;
    flex-direction: row;
}

#address-text {
    display: flex;
    flex-direction: column !important;
}

#map-section {
    height: auto;
    align-items: start;
    margin-left: 10px;
}

#map {
    width: 75%;
    height: 100%;
}