.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center;
    align-items: center;
    font-family: sans-serif; */
    background-color: rgba(var(--SWAN-vlight), 0.5);
    width: 100%;
    height: calc(100vh - var(--headerHeight));
    position: relative;
    overflow: hidden;
}

.content {
    flex-grow: 1;
    position: relative;
    top: 5%;
    left: 2%;
    max-width: calc(30% - 10px);
    margin: 30px;
    margin-right: 0px;
}

.home h1 {
    font-weight: lighter;
}

#banner-image {
    position: absolute;
    left: 20%;
    max-height: 90%;
    margin: 30px;
    border: 5px solid rgb(var(--SWAN-dark));
    border-radius: 3em;
    z-index: 0;
}

.home .heading-container {
    position: absolute;
    min-width: 25vw;
    padding: 25px;
    background-color: rgba(var(--SWAN-vlight));
    border: 5px solid rgb(var(--SWAN-dark));
    z-index: 1;
}

.home .heading-container h1 {
    color: rgb(var(--SWAN-dark));
}

#impact {
    font-weight: bolder;
}

/* @media screen and (max-width: 600px) {
    #banner-image {
        position: absolute;
        top: 5%;
        left: 0%;
    }

    .home .heading-container {
        top: 53%;
        border-left: 5px solid rgb(var(--SWAN-dark));
        border-right: 5px solid rgb(var(--SWAN-dark));
    }
} */


@media (max-width: 768px) {
    .home {
        flex-direction: column;
        overflow: auto;
    }

    .content {
        position: static;
        max-width: 100%;
        margin-right: 30px;
        margin-bottom: 0px;
    }

    .home .heading-container {
        position: static;
    }

    #banner-image {
        position: static;
        max-width: 100%;
        margin-bottom: 30px;
    }
}