.home {
}

.homeBanner {
    display: flex;
    align-items: center;
    background-color: var(--SWAN-vlight);
    height: calc(100vh - var(--headerHeight));
}

.home img {
    display: block;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.home .heading-container {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}