.top a {
    text-decoration: none;
    font-family: sans-serif;
}

.top .logo {
    height: 100px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #cda9ee;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
}

.topList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 300;
}