.top a {
    text-decoration: none;
    font-family: sans-serif;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #cda9ee;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    position: relative;
}

.top .logo {
    height: 100px;
}

.topCenter {
    flex: 1;
    max-width: 50%;
}

.topRight {
    width: 100px;
    text-align: center;
}

.topList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem {
    flex: 2;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .topList {
        display: block;
    }

    .topListItem {
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) {
    .topListItem {
        font-size: 30px;
    }
}